# Node dependencies & builds
node_modules/
*/node_modules/
dist/
*/dist/
dist-ssr/
*/dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Vercel
.vercel/

# Environment Variables
.env
*.env
.env*.local

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db

.vercel
